@import "reset.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

section:first-child {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

section:nth-child(2) {
  background: #3786;
}
section:nth-child(3) {
  background: #3978;
}
section:nth-child(4) {
  background: #6398;
}

section:nth-child(5) {
  background: #f728;
}

section:nth-child(6) {
  background: #072f;
}

main {
  height: 100vh;
  overflow: hidden;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s 0.5s;
  color: white;
  font-size: 3rem;
  font-weight: "600";
}
.text.show {
  opacity: 1;
  transform: translateY(0);
}

button {
  display: none;
}

.nav {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  height: auto;
  z-index: 9999;
}

.nav a {
  padding: 20px 16px;
  display: block;
  margin: 0;
  color: white;
  font-size: 3rem;
}
